<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="refresh" content="60">
    <meta http-equiv="pragma" content="no-cache">
    <title>{{nodeid}} ({{nodeno}}) Heard</title>
</head>
<body>
    <h2>{{nodeid}} ({{nodeno}}) Heard</h2>

    <h3 id="air">Stations Heard Local On Repeater:</h3>
{{userair_full}}

    <h3 id="net">Stations Heard Via Wires-X Network:</h3>
{{usernet_full}}

    <p>
        <em>Updated on {{now}}</em>
    </p>
</body
</html>