<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{{nodeid}} ({{nodeno}}) Map of Heard Stations</title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
        }
        #map-wrap {
            height: 100%;
            width: 100%;
        }
        #map {
            position: absolute;
            top: 4rem;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
        #panel {
            position: absolute;
            top: 4.5rem;
            left: 20%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <ul class="nav">
        <li><a href="node.html">Node</a></li>
        <li><a href="room.html">Room</a></li>
        <li><a href="heard.html">Heardlog</a></li>
        <li><a href="nodelog.html">Nodelog</a></li>
        <li><a href="roomlog.html">Roomlog</a></li>
    </ul>
    <!--
    <h2>{{nodeid}} ({{nodeno}}) Map of Heard Stations</h2>
    -->
    <div id="map-wrap">
        <div id="panel">
            <input onclick="allMarkers();" type=button value="All">
            <input onclick="thirtyMarkers();" type=button value="30 Day">
            <input onclick="tenMarkers();" type=button value="10 Day">
            <input onclick="sevenMarkers();" type=button value="7 Day">
            <input onclick="twoMarkers();" type=button value="2 Day">
            <input onclick="oneMarkers();" type=button value="1 Day">
        </div>
        <div id="map"></div>
    </div>
    <script>

    // Define lat, long and other info for markers
    var nodeInfo = {{mapdatanode}};
    var heardInfo = [
        {{mapdatauser}}
    ];
    var markerIcon = {
        /*
        red:    'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        yellow: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
        blue:   'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
        green:  'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
        ltblue: 'http://maps.google.com/mapfiles/ms/icons/ltblue-dot.png',
        orange: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png',
        pink:   'http://maps.google.com/mapfiles/ms/icons/pink-dot.png',
        purple: 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png',
        */
        red:    'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                'FFFFFF,FF0000,000000&ext=.png',
        yellow: 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                'FFFFFF,FFFF00,000000&ext=.png',
        blue:   'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                'FFFFFF,0000FF,000000&ext=.png',
        green:  'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                'FFFFFF,00FF00,000000&ext=.png',
        ltblue: 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                'FFFFFF,008CFF,000000&ext=.png',
        orange: 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                'FFFFFF,F0762d,000000&ext=.png',
        pink:   'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                'FFFFFF,FF1493,000000&ext=.png',
        purple: 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=' +
                'FFFFFF,800080,000000&ext=.png',
    };
    var map;
    var markers = [];
    var defaultZoom = 17;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 5,
            center: new google.maps.LatLng(nodeInfo.lat, nodeInfo.lng),
        });

        var info = new google.maps.InfoWindow();
        var bound = new google.maps.LatLngBounds();

        setMarker(map, info, bound, nodeInfo);
        setMarkers(map, info, bound, heardInfo);

        // Adjust center and zoom level
        zoomCall(map, bound);

        var minZoom = 3;
        google.maps.event.addListener(map, 'zoom_changed', function() {
            if (map.getZoom() < minZoom) map.setZoom(minZoom);
        });
    }

    function setMarker(map, info, bound, pin) {
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(pin.lat, pin.lng),
            map: map,
            title: pin.user_id,
            description: "<b>"+pin.user_id+"</b><br>This Node<br>"+pin.call+"("+pin.number+")",
            age: pin.age,
        });

        google.maps.event.addListener(marker, "click", function () {
            info.setContent(this.description);
            info.open(map, this);                
        });

        marker.setIcon(markerIcon.red);
        bound.extend(marker.position);
        markers.push(marker);
    }

    function setMarkers(map, info, bound, pins) {
        for (var i = 0; i < pins.length; i++) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(pins[i].lat, pins[i].lng),
                map: map,
                title: pins[i].user_id,
                description: "<b>"+pins[i].user_id+"</b><br>"+pins[i].distance+" km<br>"+pins[i].heard+"<br>"+pins[i].posit+"",
                age: pins[i].age,
            });

            google.maps.event.addListener(marker, "click", function () {
                info.setContent(this.description);
                info.open(map, this);                
            });

            if (pins[i].channel == "V-CH") {
                marker.setIcon(markerIcon.green);
            } else {
                marker.setIcon(markerIcon.blue);
            }
            bound.extend(marker.position);
            markers.push(marker);
        }
    }

    function toggleMarkers(map, age) {
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].age < age) {
                markers[i].setMap(map);
            } else {
                markers[i].setMap(null);
            }
        }
    }

    // Turn on all markers (one year should suffice)
    function allMarkers() {
        toggleMarkers(map, 60*60*24*365)
    }

    function thirtyMarkers() {
        toggleMarkers(map, 60*60*24*30)
    }

    function tenMarkers() {
        toggleMarkers(map, 60*60*24*10)
    }

    function sevenMarkers() {
        toggleMarkers(map, 60*60*24*7)
    }

    function twoMarkers() {
        toggleMarkers(map, 60*60*48)
    }

    function oneMarkers() {
        toggleMarkers(map, 60*60*24)
    }

    function zoomCall(map, bound) {
        var userid = String(getUrlVars()["userid"]);
        var zoom = parseInt(getUrlVars()["zoom"]);


        if (userid != null && userid.length > 0) {
            // Find userid in markers array
            for (var i = 0; i < markers.length; i++) {
                if (markers[i].title == userid) {
                    // Center map on userid
                    map.setCenter(markers[i].position);
                    // Set zoom for matched userid
                    if (zoom != null && zoom > 0) {
                        map.setZoom(zoom);
                    } else {
                        map.setZoom(defaultZoom);
                    }
                    // Map is all setup, get out
                    return;
                }
            }

        }

        // Must not have found call zoom to fit all markers
        map.fitBounds(bound);
    }

    function getUrlVars() {
        // Shamelessly copied from http://papermashup.com/read-url-get-variables-withjavascript/
        //
        // http://papermashup.com/index.php?id=123&page=home
        //
        //      var first = getUrlVars()["id"];
        //      var second = getUrlVars()["page"];
        //
        //      alert(first);
        //      alert(second);
        //
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&callback=initMap">
    </script>
</body
</html>