<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="refresh" content="60">
    <meta http-equiv="pragma" content="no-cache">
    <title>{{nodeid}} ({{nodeno}}) Nodelog</title>
</head>
<body>
    <h2>{{nodeid}} ({{nodeno}}) Nodelog</h2>

    <h3>Nodelog (full):</h3>
{{nodelog_full}}

    <p>
        <em>Created by <a href="{{github}}" target="_blank">{{script}}</a> v{{version}} on {{now}}</em>
    </p>
</body
</html>