<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="refresh" content="60">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{{nodeid}} ({{nodeno}}) Status</title>
</head>
<body>
    <ul class="nav">
        <li><a href="node.html" class="this">Node</a></li>
        <li><a href="room.html">Room</a></li>
        <li><a href="heard.html">Heardlog</a></li>
        <li><a href="map.html?style={{mapstyle}}">Map</a></li>
        <li><a href="nodelog.html">Nodelog</a></li>
        <li><a href="roomlog.html">Roomlog</a></li>
    </ul>

    <h2>{{nodeid}} ({{nodeno}}) Status</h2>
    <p>
        Connected to: <b>{{nodeconnect}}<!-- {{nodeconnectid}} ({{nodeconnectno}}) --></b><br>
        List of nodes:<br><b>{{nodelist}}</b>
    </p>

    <h3>Last heard on frequency:</h3>
{{userair_trim}}
    <br>(<a href="heard.html#air">More...</a>)

    <h3>Last heard on Wires-X:</h3>
{{usernet_trim}}
    <br>(<a href="heard.html#net">More...</a>)

    <h3>Nodelog (excerpt):</h3>
{{nodelog_trim}}
    <br>(<a href="nodelog.html">More...</a>)

    <p>
        <em>Created by <a href="{{github}}" target="_blank">{{script}}</a> v{{version}} on {{now}}</em>
    </p>
</body
</html>