<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="refresh" content="60">
    <meta http-equiv="pragma" content="no-cache">
    <title>{{roomid}} ({{roomno}}) Status</title>
</head>
<body>
    <h2>{{roomid}} ({{roomno}}) Status</h2>
    <p>
        List of nodes:<br><b>{{roomlist}}</b>
    </p>

    <h3>Roomlog (excerpt):</h3>
{{roomlog_trim}}
    <br>(<a href="roomlog.html">More...</a>)

    <p>
        <em>Created by <a href="{{github}}" target="_blank">{{script}}</a> v{{version}} on {{now}}</em>
    </p>
</body
</html>